.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  transition: transform 0.5s;
}

.format-card:hover {
  transform: scale(1.05);
}

.format-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.format-title {
  color: var(--color-primary-light);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.formats-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
}
