.footer {
  position: relative;
  background-image: url('../images/footer-bg.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;

  &:before {
    position: absolute;
    background-image: url('../images/decor-bread-small.png');
    content: '';
    width: 180px;
    height: 120px;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    background-image: url('../images/decor-bread-big.png');
    content: '';
    width: 380px;
    height: 190px;
    bottom: 0;
    background-repeat: no-repeat;
    right: 0;
  }

  &__conteiner {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
    font-size: 16px;
    font-weight: 300;
  }

  &__address-copyright {
    font-size: 14px;
  }

  &__address-icon {
    fill: var(--color-primary-light);
  }

  &__address-icon:hover {
    fill: var(--color-brand-normal);
  }
}
