.formats-section {
  &__conteiner {
    overflow: hidden;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
   display: flex;
    gap: 32px;
    align-items: center;
  }
}
 